*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    background-color: #e2f7fe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    
}
.header1-main{
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 5px;
}
.header1-main div {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.header2-main-icon{
    display: flex;
    overflow: hidden;
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.search-icon{
    background-color: #0AA4E3;
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input1{
    right: -80% !important;
}
.header2-main-icon:active{
    width: 100px;
    border-radius: 0%;
}
.search-icon:active{
    right: 0;
    background-color: red;
}
.button-nav{
    padding: 16px;
    border-radius: 75px;
    background-color: red;
    color: white;
}
.bg-main-img{
    height: auto;
    width: 100%;
    background-image: url(https://www.practice-web.com/sliders/banner1-1587908453.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-thr{
    color: #0AA4E3;
}

.icon-hover:hover{
    transform: scale(1.8);
}
.background-images{
    height: auto;
    width: 98.6vw;
    background-image: url(https://www.practice-web.com/assetsfront/img/cta-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.bg-color{
    background-color: #17b1eec0;
    height: 100%;
}
.buton-for-child-row{
    height: 9vh;
    width: 100%;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 700;
    padding: 7px;
}

.buton-for-child-row:hover{
    background-color: white;
    color: #17b1eec0;
}
.nnn{
    line-height: 6px;
    font-weight: 600;

}
.hover-link:hover{
    text-decoration: underline;
}
.color-background-blue{
    background-color: #0AA4E3;
}
.btn-for-red-container{
    border: 2px solid red;
    border-radius: 29px;
    padding: 10px;
    padding-right: 18px;
    padding-left: 18px;
    background-color: transparent;
    font-size: 17px;
}
.btn-for-red-container:hover{
    background-color: red;
    color: white;
    font-size: 18px;
}
.font-color{
    color: #0AA4E3;
    font-size: 42px;
}
.div-for-bg-color{
    height: 37px;
    width: 100%;
    background-color: #0AA4E3;
    color: white;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}