*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    background-color: #e2f7fe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    flex-wrap: wrap;
    
}
.header1-main{
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
}
.header1-main div {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.header2-main-icon{
    display: flex;
    position: relative;
    gap: 8px;
   
}
.search-icon{
    background-color: #0AA4E3;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.trans{
    transition: all 0.4s 0.1s ease-in-out;
}
.input1{
    opacity: 0;
    border-radius: 6px;
    border: 1px solid white;
    outline: none;
    padding: 5px;
    width: 100%;
}

.search-icon:hover{
    background-color: red;
}
.button-nav{
    padding: 16px;
    border-radius: 75px;
    background-color: red;
    color: white;
}
.nav-hover-pratice{
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 5px;
    display: none;
    font-size: 17.5px;
    line-height: 5.5px;
    width: 30rem;
    margin-top: 2vh;
}
.main-for:hover .nav-hover-pratice{
    display: block;
    position: absolute;
}
.bg-main-img{
    height: auto;
    width: 100%;
    background-image: url(https://www.practice-web.com/sliders/banner1-1587908453.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-thr{
    color: #0AA4E3;
}

.icon-hover:hover{
    transform: scale(1.8);
}
.background-images{
    height: auto;
    width: 98.6vw;
    background-image: url(https://www.practice-web.com/assetsfront/img/cta-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.bg-color{
    background-color: #17b1eec0;
    height: 100%;
}
.buton-for-child-row{
    height: 9vh;
    width: 100%;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 700;
    padding: 7px;
}

.buton-for-child-row:hover{
    background-color: white;
    color: #17b1eec0;
}
.nnn{
    line-height: 6px;
    font-weight: 600;

}
.hover-link:hover{
    text-decoration: underline;
}
.color-background-blue{
    background-color: #0AA4E3;
}
.btn-for-red-container{
    border: 2px solid red;
    border-radius: 29px;
    padding: 10px;
    padding-right: 18px;
    padding-left: 18px;
    background-color: transparent;
    font-size: 17px;
}
.btn-for-red-container:hover{
    background-color: red;
    color: white;
    font-size: 18px;
}
.font-color{
    color: #0AA4E3;
    font-size: 42px;
}
.div-for-bg-color{
    height: 37px;
    width: 100%;
    background-color: #0AA4E3;
    color: white;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-bg-color{
    height: 6px;
    width: 100%;
    background-color: #0AA4E3;
}
.box-shadow-div{
    box-shadow: -3px 2px 20px 3px rgba(0, 0, 0, 0.568);
}
.icon-parent{
    height: 50px;
    width: 50px;
    background-color: #0AA4E3;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}
.line-height{
    line-height: 6px;
}
.fon-down{
    font-size: 13px;
}
.div-for-x-scroll{
    display: flex;
    gap: 21px;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.fix-width{
    min-width: 22rem;
}

.bg-imges-short{
    background-image: url("https://www.practice-web.com/assetsfront/img/counters-bg.jpg");
    height: auto;
    width: 98.6vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.div-color-child{
    background-color: #0aa5e3cb;
    height: 100%;
    width: 98.6vw;
}
.color-text{
    color: #0AA4E3;

}
.foter-icon-div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0AA4E3;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 22px;
    transition: all  0.5s;
}
.foter-icon-div:hover{
    background-color: crimson;
    color: white;
    transform: scale(1.2);
   
}
.input-clas{
    border: 1.6px solid white;
    border-radius: 5px;
    padding: 6px;
    color: white;
}
.foter-hover:hover{
    color: #0AA4E3;
    cursor: pointer;
}
.img-curser{
    cursor: pointer;
}